@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: black;
  line-height: 1.6;
}
/* <-------- nav bar -------->*/
.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.navbuttons {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background-color: transparent;
}

.logo {
  font-size: 2rem;
  margin-left: 30px;
  z-index: 3;
}
.navbuttons a:hover {
  color: #555;
}
.navlink {
  margin-right: 30px;
}

/* <-------- header/banner -------->*/
.headerbanner {
  background-image: url("https://images.unsplash.com/photo-1623660045892-c9271bb7068c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1548&q=80");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  margin-top: -220px;
  z-index: -2;
  height: 900px;
}
a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}
.welcomeuser {
  font-size: 30px;
  z-index: 2;
  text-align: center;
  font-size: 20px;
  margin-block-start: 3em;
}

nav a {
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* <-------- landing section -------->*/

#section-a {
  padding: 20px;
  background: white;
  color: black;
  text-align: center;
}

#section-b {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 50px;
  flex: auto;
  padding: 40px;
  position: relative;
  height: 300px;
  overflow: hidden;
}
#section-b .box-1 {
  position: relative;
  text-align: center;
  margin: 30px;
  width: 25%;
}
#section-b .box-1 p {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 1;
  display: flex;
}

.categimg {
  max-width: 100%;
  height: 200px;
  object-fit: fill;
}

.categimg.ch:hover {
  opacity: 90%;
  position: relative;
  top: -45px;
  left: -15px;
  height: auto;
  z-index: 999;
  content: url("https://images.pexels.com/photos/6045056/pexels-photo-6045056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.categimg.tb:hover {
  opacity: 90%;
  position: relative;
  top: -45px;
  left: -15px;
  height: auto;
  z-index: 999;
  content: url("https://images.unsplash.com/photo-1600421684846-e7ebc943403b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=772&q=80");
}
.categimg.co:hover {
  opacity: 90%;
  position: relative;
  top: -45px;
  left: -15px;
  height: auto;
  z-index: 999;
  content: url("https://images.unsplash.com/photo-1601905389683-fe1f1d0c3276?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}
.categimg.dr:hover {
  opacity: 90%;
  position: relative;
  top: -45px;
  left: -15px;
  height: auto;
  z-index: 999;
  content: url("https://images.unsplash.com/photo-1540809799-5da9372c3f64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=848&q=80");
}

#section-c {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  height: 400px;
}

#section-c div {
  padding: 20px;
}

#section-c .box-1 {
  background: transparent;
  color: #fff;
  width: 30%;
}

#section-c .box-2 {
  width: 40%;
}
#section-c .box-2.text {
  position: relative;
  top: 50px;
  color: black;
}

.categimgstatic {
  display: flex;
  width: 70%;
  z-index: 1;
}
#section-d {
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: transparent;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingvideo {
  width: 100%;
  height: 50%;
  object-fit: cover;
  opacity: 94%;
}

#section-e {
  padding: 20px;
  margin-top: 100px;

  background: white;
  color: black;
  text-align: center;
  height: 200px;
}

/* <-------- footer -------->*/

.section-footer {
  background: #f4d0a5;

  color: rgb(201, 78, 78);
  padding: 4rem 0;
}

.section-footer .containerfooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section-footer .containerfooter .footerlink {
  margin: 40px;
}

.section-footer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-footer h3 {
  margin-bottom: 0.7rem;
}

.section-footer a {
  line-height: 1.9;
  color: rgb(0, 0, 0);
}

.section-footer a > i {
  color: rgb(0, 0, 0);
  margin-right: 0.5rem;
  font-size: 30px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
}

.section-footer {
  padding: 2rem 0;
}
.section-footer .container {
  grid-template-columns: 1fr;
  text-align: center;
}

.section-footer div:nth-child(2),
.section-footer div:nth-child(3) {
  display: none;
}

/* <-------- Join Form -------->*/
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: rgb(255, 255, 255);
}
label {
  color: #000;
}

.join-main {
  padding: 30px 40px;
  flex: 1;
  flex-direction: column;
  background: whitesmoke;
  box-shadow: 0 4px 2px -2px rgb(160, 160, 160);
  box-shadow: 7px 30px 30px 0px #cecccc;
}
.join-main p {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 40%;
  margin-left: 32%;
}

.formpage {
  background-color: rgb(254, 254, 254);
  background-size: cover;
  height: 100%;
}

input {
  border: none;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus + ::input-placeholder {
  color: #fff;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color 0.2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color 0.2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65);
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.input-line {
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgb(167, 140, 140);
  height: auto;
  margin-top: -100px;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

.welcome {
  font-weight: 200;
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.subtitle {
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}

.login-div {
  width: 400px;
  height: 600px;
  padding: 60px 35px 35px 35px;
  border-radius: 10px;

  background: transparent;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}
.sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}
.fields {
  width: 100%;
  padding: 75px 5px 5px 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  min-height: 100px;
}

.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}
.username,
.password {
  margin-bottom: 10px;
  height: 5px;
  border-radius: 0.5px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.signin-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 0px;

  color: black;
  text-align: center;
  background-color: transparent;
  transition: 0.5s;
}
.signin-button:hover {
  background: #3f3f3f;
  color: white;
  width: 150px;
  height: 30px;
}
.signin-button:active {
  background: #575656;
  color: white;
}
.link {
  padding-top: 20px;
  text-align: center;
}
.link a {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}
.background {
  margin-top: 300px;
  background-image: url("https://images.unsplash.com/photo-1623150502742-6a849aa94be4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-color: #cccccc;
  object-fit: cover;
  z-index: -1;
  opacity: 80%;
  width: 100%;
  position: relative;
}
.h {
  color: yellowgreen;
  border-left: 6px solid green;
  height: 500px;
}

#sectionform {
  display: flex;
  flex-direction: row;
  margin: 50px;
  margin-top: 100px;
  margin-bottom: 150px;
  flex: auto;
  padding: 30px;

  background-image: url("https://cdn.indesignlive.com/wp-content/uploads/Tom-Fereday_LV_feature_chair2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

=======
/* dummy data images/data for seed only below -- comment out before deploy */
.test-products {
  text-align: center;
}

.test-products img {
  width: 100px;
  height: 130;
}

.single-product-view {
  margin-left: 30%;
  margin-right: 30%;
}

.single-product-view img {
  height: 150px;
  width: 120px;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #f5ccb9;
  border-radius: 0.6em;
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  /* margin: 20px; */
  padding: 1.2em 2.8em;
  text-decoration: none;
  /* text-align: center; */
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat";
}
.btn:hover,
.btn:focus {
  color: black;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #f5ccb9 inset;
}

.left {
  float: left;
  text-align: center;
}
.right {
  float: right;
  text-align: center;
  font-size: 14px;
  margin-top: 20%;
}

/* Cart */

.cart-wrapper {
  padding: 20px;
}

.cart-wrapper h1 {
  font-weight: 300;
  text-align: center;
}

.cart-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.cart-top button {
  padding: 10px;
  cursor: pointer;
  background: #f4d0a5;
  border-style: none;
}

.cart-top-text {
  display: flex;
}

.cart-top-text p {
  text-decoration: underline;
  margin: 0px 10px;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
}

.cart-bottom-info {
  flex: 3;
}

.cart-bottom-summary {
  flex: 1;
}

.cart-product {
  display: flex;
  justify-content: space-between;
}

.cart-product-detail {
  flex: 2;
  display: flex;
}

.cart-product-detail img {
  width: 200px;
  height: 200px;
}

.cart-product-detail div {
  padding: 20px;
  justify-content: space-around;
}

.cart-product-color {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.cart-product-price {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-product-amount {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-product-amount p {
  font-size: 24px;
  margin: 5px;
}

.cart-product-amount button {
  font-size: 24px;
  background-color: white;
  border-style: none;
  cursor: pointer;
}

.cart-product-cost {
  font-size: 24px;
  font-weight: 300px;
}

.cart-bottom-summary button {
  padding: 10px;
  cursor: pointer;
  background: #f4d0a5;
  border-style: none;
}

table {
  font-family: "Lato", "sans-serif";
}

table.one {
  margin-bottom: 3em;
  border-collapse: collapse;
}

td {
  text-align: center;
  width: 10em;
  padding: 1em;
}

th {
  text-align: center;
  padding: 1em;
  background-color: #f5ccb9;
  color: white;
}

tr {
  height: 1em;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table img {
  height: 20px;
  width: 20px;
}

.user-table {
  text-align: center;
}
.portal {
  float: left;
  font-size: 12px;
  background-color: yellowgreen;
}
